# rodar aplicação
rodar o expo 
npx expo start
npx expo start --clear execulta completamente de novo
expo start --dev-client para rodar o aplicativo
# caso de erro   code: 'ERR_OSSL_EVP_UNSUPPORTED'
rodar na web
export NODE_OPTIONS=--openssl-legacy-provider

#para instalar uma fonte digita 
npx expo install expo-font @expo-google-fonts/inter

node_modules
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#bibliotecas instaladas
npm i nativewind
npm i tailwindcss --save-dev
npx tailwindcss init
npx expo install react-native-svg (imagem svg)
npm i react-native-svg-transformer --save-dev
npm install dayjs(datas)

# tipo de navegação 
https://reactnavigation.org/docs/getting-started

npm install @react-navigation/native
npx expo install react-native-screens react-native-safe-area-context
npm install @react-navigation/native-stack

# integrar com o banco de dados 
npm i axios