.gitignore
node_modules
.env
# para rodar o projeto 
npm run dev

#roda o banco de dados
npx prisma db seed cria elementos
npx prisma studio 

#bibliotecas instaladas /dpedencias dos projetos

npm init -y

npm i fastify instala o node node_modules
 npm install typescript -D
 npx tsc --init 
npm i tsx -D
 npm i @fastify/cors integra o back and com front end
 

 npm i zod
 npm install @radix-ui/react-popover (quadrados)

#  https://www.radix-ui.com/docs/primitives/components/checkbox
 npm install @radix-ui/react-checkbox 

# cpmsumir o dados da aplicação back endo no front end 
npm i @fastify/cors mostra a aplicação no front-end
npm create vite@latest

#banco de dados utilizando o prisma
npm i -D prisma 
npm i @prisma/client
npx prisma init --datasource-provider SQLite (arquivo local de banco de dados)

Gerador de Diagrama de Relacionamento de Entidade Prisma
npm i -D prisma-erd-generator @mermaid-js/mermaid-cli

npx prisma migrate dev cria o arquivo do banco de dados

npx prisma studio roda o banco de dados

# biblioteca de datas
npm i dayjs

